version: "3.9"
services:
  feeder:
    image: pizaini/feeder-pddikti:22.103
    container_name: feeder
    restart: unless-stopped
    tty: true
    environment:
      TZ: "Asia/Jakarta"
      SERVICE_NAME: "app"
      SERVICE_TAGS: "1.0.3"
      PGHOST: db-pddikti
      PGPORT: 54333
#      Volume bersifat optional. Silakan uncomment jika diperlukan
#    volumes:
#      - /home/pizaini/docker-volume/feeder-neo/nginx/nginx.conf:/etc/nginx/nginx.conf
#      - /home/pizaini/docker-volume/feeder-neo/prefill_pddikti:/prefill_pddikti
#      - /home/pizaini/docker-volume/feeder-neo/app/public:/app/public
    ports:
      - "8100:8100"
      - "3003:3003"
    depends_on:
      - db-pddikti
    networks:
      - app-network
  db-pddikti:
    image: postgres:12
    container_name: dbpddikti
    restart: unless-stopped
    tty: true
    ports:
      - "127.0.0.1:54333:54333"
    volumes:
      - /home/pizaini/docker-volume/feeder-neo/pgsql/data:/var/lib/postgresql/data
    networks:
      - app-network
networks:
  app-network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.167.150.0/24